.icon-container {
    min-height: 200px;

    .icon-container__boast {
        background: lightskyblue;
        text-align: center;
        padding: 10px 0 10px 0;
        cursor: pointer;

        &:hover {
            background: pink;
        }
    }

    .icon-container__icons {
        display: flex;
        justify-content: left;

        .eds-vector-image {
            margin: 0;
        }
    }
}
